  <head>
    <title>CryptoAnalyzer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <form>
      <div class="form-group">
        <label for="testcryptoticker">Crypto Ticker</label>
        <input type="ticker" class="form-control" id="testcryptoticker" aria-describedby="cryptoHelp" placeholder="Enter ticker">
      </div>
    </form>
  </head>